import(

	parallel,
	lattice,
	coda
	
)

export(

autoextend.jags,
autoextend.JAGS,

run.jags,
autorun.jags,
run.jagsfile,
autorun.jagsfile,

run.jags.study,
run.JAGS.study,

run.JAGS,
autorun.JAGS,
run.JAGSfile,
autorun.JAGSfile,
results.jags,
results.JAGS,

combine.mcmc,
combine.MCMC,

dump.format,
list.format,

extend.jags,
extend.JAGS,

read.winbugs,
read.WinBUGS,

as.jags,
as.runjags,

ask,
findjags,
new_unique,
timestring,
testjags,
findJAGS,
testJAGS,
load.runjagsmodule,
load.runJAGSmodule,

xgrid.run.jags,
xgrid.autorun.jags,
xgrid.extend.jags,
xgrid.autoextend.jags,
xgrid.submit.jags,
xgrid.run.jagsfile,
xgrid.autorun.jagsfile,
xgrid.submit.jagsfile,
xgrid.results.jags,
xgrid.run.JAGS,
xgrid.autorun.JAGS,
xgrid.extend.JAGS,
xgrid.autoextend.JAGS,
xgrid.submit.JAGS,
xgrid.run.JAGSfile,
xgrid.autorun.JAGSfile,
xgrid.submit.JAGSfile,
xgrid.results.JAGS,

xgrid.run,
xgrid.submit,
xgrid.results,
xapply,

xgrid.jobs,
xgrid.delete,

failedjags,
runjags.options,
runjags.getOption

)

S3method(print, runjags)
S3method(summary, runjags)

S3method(print, runjags.model)
S3method(print, runjags.data)
S3method(print, runjags.inits)
S3method(print, runjags.output)
S3method(print, mcse.stats)
S3method(print, crosscorr.stats)
S3method(print, gelman.target)
S3method(print, dic.stats)
S3method(print, runjags.study)
S3method(print, runjags.bginfo)

S3method(as.mcmc, runjags)
S3method(as.mcmc.list, runjags)

S3method(as.runjags, default)
S3method(as.jags, default)
S3method(as.runjags, jags)
S3method(as.jags, runjags)

S3method(plot, runjags)
S3method(plot, runjags.plots)
S3method(print, runjags.plots)
