export(ask, autorun.jags, autorun.JAGS, autorun.jagsfile, autorun.JAGSfile, combine.mcmc, combine.MCMC, dump.format, findjags, findJAGS, new_unique, read.winbugs, read.WinBUGS, run.jags, run.JAGS, run.jagsfile, run.JAGSfile, testjags, testJAGS, timestring, xgrid.run.JAGS, xgrid.run.jags, xgrid.autorun.JAGS, xgrid.autorun.jags, xgrid.run.JAGSfile, xgrid.run.jagsfile, xgrid.autorun.JAGSfile, xgrid.autorun.jagsfile, xgrid.submit.JAGS, xgrid.submit.jags, xgrid.submit.JAGSfile, xgrid.submit.jagsfile, xgrid.results.JAGS, xgrid.results.jags, xgrid.run, xgrid.submit, xgrid.results)

S3method(print, gelman.with.target)
S3method(print, plotindpages)
